@import "variable";

#body__admin{overflow:hidden;height:100vh;margin:0;border-top:1px solid $white3;border-bottom:1px solid $white3;}

.__admin{height:100%;width:100%;
    .__wrap-admin
    {
        overflow:hidden;height:calc(100% - 50px);position:relative;
        .__account
        {
            position:absolute;top:0;bottom:0;right:100%;left:-100%;background:$white;@include transition(.5s);z-index: 5;
            &.aktif{left:0;right:0;}
        }
    }
}

.__container-chat
{
    font-family: Arial, Helvetica, sans-serif;
    position:fixed;
    width:350px;height:500px;
    bottom: -470px;
    right:5px;
    font-size:11pt;
    overflow: hidden;
    @include transition(.5s);
    @include box-sizing(content-box);
    &.aktif{bottom:0;@include animation("chat-box .5s");}

    .__header-chat
    {
        text-align:right;height:40px;
        //button show chat
        .__show-chat
        {
            text-align:center;
            background:$green;
            cursor: pointer;
            color:$white;
            width: 100px;height:40px;line-height:40px;
            display:inline-block;
            font-weight:bold;position:relative;

            &:after
            {
                content:" ";
                position:absolute;
                bottom:0;
                height:3px;
                width: 137px;
                left: -37px;background:$green3;
            }
            &:before
            {
                content:' ';
                border-right: 37px  solid transparent;
                border-left: 37px  solid transparent;
                border-bottom: 37px  solid $green2;
                position:absolute;
                width:0;height:0;top:0;z-index: -1;
                left:-37px;
            }
            &:hover{background:$green2;}
            &:hover:before{border-bottom-color:$green2;}
        }
    }

    .__body-chat
    {
        height:460px;
        background:$white;border:1px solid $white3;
        .__colomn-chat
        {
            margin-bottom: 10px;padding:5px;
            &.title{font-size:16pt;font-weight:bold;height:35px;border-bottom: 1px solid $white2;position:relative;line-height:50px;}
            input{width: 90%;padding:10px;}
        }
        .__inner-chat{
            height: 390px;overflow:auto;padding-right:17px;width:100%;position:relative;
        }
    }
    @media only screen and (max-width: 770px) {
        display: none;
    }
    @include keyframes(chat-box)
    {
        0%   {@include transform(scale(1)); }
        50%   {@include transform(scale(.5)); }
        100% {@include transform(scale(1)); }
    }
}
#body{margin: 0 15px 0 15px;}

.form-send
{
    position:absolute;bottom:10px;left:0;right:0;height:70px;background:$white;width:100%;
    textarea{height:calc(100% - 20px);width:calc(100% - 40px);padding:10px;font-family: Arial, Helvetica, sans-serif;resize: none;}
}

.__top
{
    text-align:right;width:100%;border-bottom: 1px solid $white3;height:40px;overflow:hidden;font-size:0;
    .__menu{
        display:inline-block;padding:10px;font-size: 9pt;
        &.left{float:left;}
    }
    a.__menu{text-decoration: none !important;color:$black;border-left:1px solid $white3;}
    a.__menu:hover{background:$white3;}
}
.__left
{
    width:250px;float:left;height:100%;overflow:hidden;border-right:1px solid $white3;
}

.__msg-error{padding:5px;background:$red2;color:$white;border-bottom: 2px solid $red3;font-size:9pt;cursor: pointer;}
.__msg-success{padding:5px;background:$green2;color:$white;border-bottom: 2px solid $green3;font-size:9pt;cursor: pointer;}

.__inner-body{padding-right:17px;width:100%;height:100%;position:relative;overflow:auto;}

.__right{height:100%;overflow:hidden;}

.__contact
{
    display:table;width:100%;padding:5px;
    vertical-align:top;cursor: pointer;position:relative;
    .img
    {
        width:50px;margin-right:10px;@include border-radius(100%);overflow: hidden;border: 1px solid $black;display:inline-block;background:$white;
        img{display:block;width:100%;}
    }
    
    .__name{display:inline-table;vertical-align:top;margin:5px 0;font-weight:bold;}
    .__info{position:absolute;bottom:15px;color: $green3;left:65px;}

    &{border-bottom: 1px solid $white2;}

    &:after,
    &:before{content:" ";position:absolute;height:50%;;z-index: -1;@include transition(.2s);width:0;}

    &:after{top:0;background:$red2;left:0;}

    &:before{bottom:0;background:$white2;right:0;}

    &:hover .__name{color:$white;}
    &:hover:after,
    &:hover:before{width:100%;}
}

.__chat
{
    // calc = - height of
    height: calc(100% - 90px);overflow:hidden;width:100%;background:$white3;
    .__wrap-chat{height:100%;overflow:auto;width:100%;padding-right:17px;}
    .__user{
        width:100%;
        .__inner-user
        {
            display:inline-block;max-width:85%;
            .__img
            {
                width:50px;@include border-radius(100%);background:$white;border: 1px solid $black;overflow: hidden;float:left;margin-right:10px;
                img{width:100%;display:block;}
            }    
            .__info-user
            {
                .__name
                {
                    display:inline-table;vertical-align: middle;font-weight:bold;margin-top:5px;
                }
                .__date{font-weight:normal;display:inline-table;vertical-align: top;font-size:9pt;}
                
            }
    
            .__msg
            {
                width:100%;margin-top:10px;position:relative;
                &:after{position:absolute;content:" ";border-bottom:5px solid transparent;border-right: 5px solid transparent; border-left: 5px solid transparent;width:0;height:0;}
                pre{@include pre;padding:10px;font-size:9pt;text-align:left;line-height:20px;}
            }
        }

        &.left
        {
            text-align:left;
            .__msg
            {
                background:$white;color:$black;
                &:after{top:-5px;left:10px;border-bottom-color:$white;}
            }
        }
        &.right
        {
            .__info-user{text-align:right;}
            .__img{float:right;margin-right:0;margin-left:5px;}
            text-align:right;
            .__msg
            {
                background:$green3; color: $white;
                pre{text-align:right;}
                &:after{top:-5px;right:10px;border-bottom:5px solid $green3;}
            }
        }
        
    }
}
.__review
{
    width:40px;position:absolute;right:20px;top:0;@include transform(translateY(15%));cursor: pointer;
    img{width:100%;display:block;}
}
.__star
{
    text-align:center;
    .__star-inner
    {
        display:inline-block;position:relative;height:30px;width: calc(30px * 5);
        .__star-color{position:absolute;top:0;left:0;bottom:0;@include transition(.2s);background:transparent;}
        img{width:30px;z-index: 2;position:absolute;cursor: pointer;}
    }
}
.review-star
{
    width:100%;
    td{text-align:center;vertical-align: middle;}
    .meter-star
    {
        width:82.948%;position:relative;
        .meter
        {
            width:100%;height:17px;border: 1px solid $white3;overflow:hidden;@include border-radius(5px);
            .meter-value{height:100%;background:transparent;@include transition(1s);}
            &:hover ~ .meter-user{opacity:1;}
        }
        .meter-user
        {
            position:absolute;left:10px;bottom:25px;background:$black;color:$white;padding:5px 10px;opacity:0;@include transition(.5s);
            &:after{content:" ";position:absolute;border-left:5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid $black;width:0;height:0;bottom:-5px;left:10px;}
        }
        
    }
}

.__btn-admin
{
    width:300px;margin:10px;display:inline-block;background:$white;overflow:hidden;@include border-radius(10px);border: 1px solid $white3;text-align:left;text-decoration: none;position:relative;@include box-shadow(0 0 $white3);@include transition(.2s);
    .__inner-btn
    {
        display:table;width:100%;
        .__img
        {
            width:100px;display:table-cell;margin-right:10px;vertical-align:top;
            img{width:100%;display:block;}
        }
        .__info
        {
            display:table-cell;vertical-align: top;width:calc(100% - 120px);margin: 5px 0;color:$black;padding-left:10px;
            strong{display: block;font-weight:bold;}
            span{display:block;margin-bottom:5px;}
        }
    }
    &.user{width:45%;}
    &:hover {bottom:0;@include box-shadow(-5px 5px 5px $white3);}
}
.__nav
{
    .__img
    {
        width:80%;padding:10px;margin:0 auto 10px auto;border: 1px solid $white3;@include border-radius(5px);overflow:hidden;
        img{width:100%;display:block;}
    }
}

.__body-chat-admin
{
    position:absolute;top:0;left:100%;right:-100%;bottom:0;@include transition(.5s);background:$white;z-index: 4;
    &.aktif{left:250px;right:0;}
}