$black          : #2f3542;
$green          : #2ed573;
$green2         : #2ecc71;
$green3         : #27ae60;
$white          : #FFFFFF;
$white2         : #f5f6fa;
$white3         : #ecf0f1;
$red            : #eb3b5a;
$red2           : #e74c3c;
$red3           : #c0392b;
$btn-chat       : 100% + 43;
$left-btn-chat  : -100% - 43;
$bottom-chat    : (100 / 20);

@mixin animation($str) 
{
    -webkit-animation: #{$str};  
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};  
    animation: #{$str};
}

@mixin box-shadow($box...) 
{
    -webkit-box-shadow: $box;  
    -moz-box-shadow: $box;
    -ms-box-shadow: $box;
    -o-box-shadow: $box;  
    box-shadow: $box;
}

@mixin box-sizing($box)
{
    -webkit-box-sizing: $box;  
    -moz-box-sizing: $box;
    -ms-box-sizing: $box;
    -o-box-sizing: $box;  
    box-sizing: $box;
}

@mixin transition($transition) 
{
    -webkit-transition: $transition;  
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;  
    transition: $transition;
}

@mixin border-radius($border)
{
    -webkit-border-radius: $border;  
    -moz-border-radius: $border;
    -ms-border-radius: $border;
    -o-border-radius: $border;  
    border-radius: $border;
}

@mixin transform($transform)
{
    -webkit-transform: $transform;  
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;  
    transform: $transform;
}
@mixin keyframes($name-animation)
{
    @-webkit-keyframes #{$name-animation} { @content; }
    @-moz-keyframes    #{$name-animation} { @content; }
    @-ms-keyframes     #{$name-animation} { @content; }
    @-o-keyframes      #{$name-animation} { @content; }
    @keyframes         #{$name-animation} { @content; }
}

@mixin pre()
{
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

@mixin selection()
{
    ::selection         { background-color: #E13300; color: white; }
	::-moz-selection    { background-color: #E13300; color: white; }
	::-webkit-selection { background-color: #E13300; color: white; }
	::-o-selection      { background-color: #E13300; color: white; }
	::-ms-selection     { background-color: #E13300; color: white; }
}